<div class="back">
  <div class="container">

    <div class=" pt-2 pb-2 row ">
      <div class=" col-lg-2">
        <img class="profile" src="../../../assets/sty_prof.jpg" alt="profile" width="150" height="150">
        <img class="ratings " src="../../../assets/ratings4.png" style="width:110px">

      </div>
      <div class=" col-lg-10 ">
        <table>

          <tr *ngFor="let sk of skills">
            <td class="skill-list">{{sk}}
              <p>Advanced, Barber, Classics, Clipper work, Dry cutting, Fading, Freehand,
                Razor, Scissors over comb, Shaving, Texturizing, Advanced, Classics, Dry cutting, Extensions tape,
                Freehand, Long hair, Razor, Short hair, Texturizing
              </p>
            </td>
          </tr>
          <tr>
            <td class="skill-list">
              {{amount}} {{currency}} per Half Day
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div class="all_gallery">
    <div class="d-flex  container pt-2 pb-2">


      <div class="gallery">
        <img src={{galleryPath[0]}} width="300" height="200">

      </div>

      <div class="gallery">
        <img src={{galleryPath[1]}} width="300" height="200">

      </div>


      <div class="gallery">
        <img src={{galleryPath[3]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[4]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[6]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[5]}} width="300" height="200">

      </div>
    </div>

  </div>
  <div class="calendar-background">

    <div class="container pt-3">

      <app-calendar></app-calendar>
    </div>
  </div>
</div>
