<div class="back">
  <div class="container">

    <div class=" pt-2 pb-2 row ">
      <div class=" col-lg-2">

        <div *ngFor="let pic of profPics">
          <div *ngIf="pic.profile_id==query.id">
            <img class="profile" src="data:image/jpg;base64,{{pic.image_path}}" alt="profile" width="150" height="150">
          </div>
        </div>
        <img class="ratings " src="../../../assets/ratings4.png" style="width:110px">
        <h3>{{query.name}}</h3>

        <div *ngFor="let desc of names">
          <div *ngIf="desc.id==query.id">
            {{desc.description}}
          </div>
        </div>
      </div>
      <div class=" col-lg-10 ">
        <table>
          <tr *ngFor="let sk of stylistSkills">
            <div *ngIf="sk.id==query.id">
              <td class="skill-list">{{sk.skill}}</td>
            </div>
          </tr>
          <tr>
            <td class="skill-list">
              {{amount}} {{currency}} per Half Day
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div class="all_gallery">
    <div class="d-flex  container pt-2 pb-2">

    <label style="color: lemonchiffon">Gallery</label>
      <div class="gallery">
        <img src={{galleryPath[0]}} width="300" height="200">

      </div>

      <div class="gallery">
        <img src={{galleryPath[1]}} width="300" height="200">

      </div>


      <div class="gallery">
        <img src={{galleryPath[3]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[4]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[6]}} width="300" height="200">

      </div>
      <div class="gallery">
        <img src={{galleryPath[5]}} width="300" height="200">

      </div>
    </div>

  </div>
  <div class="calendar-background">

    <div class="container pt-3">

      <app-calendar></app-calendar>
    </div>
  </div>
</div>
