

a.active{
  background-color: darkgoldenrod;

}
#cal{
  display: flex;
  align-content: flex-start;
  background-color:darkseagreen;
  width: 60px;
  height:60px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;

}

.flex-container>div {
  display: flex;
  align-content: flex-start;
  background-color:darkseagreen;
  width: 60px;
  height:60px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

