

a.active{
  background-color: darkgoldenrod;

}
#cal{
  width: 600px;
  height:600px;

}
.flex-container{

  display: flex;
  align-content: flex-start;
  background-color:darkseagreen;
  width: 60px;
  height:60px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;

}

.flex-container>div {
  align-content: flex-start;
  background-color:darkseagreen;
  width: 60px;
  height:60px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
.flex-center{
  display:flex;
  align-content: center;


}
#calendardates{
  display: flex;
  align-content: flex-start;
  background-color:darkseagreen;
  width: 60px;
  height:60px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;

}

