<form (submit)="makeBusy()">

  <div class="container">
    <div
      ng2-carouselamos
      [width]="1000"
      [items]="thisWeekDay"
      [$item]="itemTemplate"
      [$prev]="prevTemplate"
      [$next]="nextTemplate">
    </div>


    <ng-template #prevTemplate>
      <img src="../../../assets/pre.png" style="width:50px;">

    </ng-template>

    <ng-template #nextTemplate>
      <img src="../../../assets/next.png" style="width:50px">
    </ng-template>

    <ng-template #itemTemplate onM>
      <div class="calendar" style="font-family:Serif; font-size: small">
        <table style="text-align: center;">
          <tr>
            <td *ngFor="let date of thisWeekDay">
              <div class="calendarDateHeading image" style="min-width: 200px ;">
                {{date.format('Y')}}
                {{date.format('MMMM')}}
                {{date.format('dddd')}}


                <div class="calendarDates">
                  {{date.format('D')}}
                  <table style="border-color: black">
                    <tr>
                      <td>
                        <button class="calendarEvents"
                                (click)="makeBusy(date.format('YYYY-MM-DD') +'  08.00 am to 12.00 Noon')">Morning
                        </button>

                      </td>
                    </tr>
                    <tr style="border-color: #cccccc">
                      <td>
                        <button class="calendarEvents"
                                (click)="makeBusy(date.format('YYYY-MM-DD') +'  01.00 pm to 05.00 pm')">Evening
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

            </td>
          </tr>
        </table>

      </div>
    </ng-template>
  </div>

</form>
