<form (submit)="onSearch()">
  <div></div>
  <div>
    <h2 style="font-style: oblique">Search Stylists for your need</h2>
  </div>


  <div class="text-center p-2">
    <div>
      <input type="radio" name="searchType" checked [(ngModel)]="radioData" value="Stylist name">Search by Name
      <input type="radio" name="searchType" [(ngModel)]="radioData" value="Stylist skill">Search by Skills
    </div>
    <div>

      <div *ngIf="(radioData==='Stylist name') ">
        <label class="col-lg-3">Search your stylist by {{radioData}} </label>
        <input list="suggestions_name" style="width:500px" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
        <datalist id="suggestions_name">
          <option *ngFor="let name of names" [value]="name.first_name +' '+ name.last_name">
        </datalist>
      </div>
      <div *ngIf="(radioData==='Stylist skill')">
        <label class="col-lg-3">Search your stylist by {{radioData}} </label>
        <input list="suggestions_skill" style="width:500px" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">

        <datalist id="suggestions_skill">
          <option *ngFor="let skill of skills" [value]="skill.description">
        </datalist>
      </div>

    </div>

  </div>

</form>
<div class="row ">
  <div class="col-lg-9"></div>
  <div class="advancedSearch col-lg-3 col-lg-offset-9 ">


    <button class="adva-search p-0.5 " routerLink="/advancedSearch">Advanced Search</button>
  </div>


</div>
