<form (submit)="onSearch(search.value)">
  <div><h2 style="font-style: oblique">Search Stylists for your need</h2>
  </div>


  <div class="text-center">
    <div>
      <input type="radio" name="searchType" checked [(ngModel)]="radioData" value="Stylist name" >Search by Name
      <input type="radio" name="searchType"  [(ngModel)]="radioData" value="Stylist skill" >Search by Skills
    </div>
    <div>

      <input  type="text" #search placeholder="Search your stylist by {{radioData}}" style="width:500px">

    </div>

  </div>


</form>
