.date {
  background-color: rgba(166, 92, 166, 0.87);
  border-color: rgba(166, 92, 166, 0);
}

.date-range {
  background-color: rgba(95, 18, 97, 0.49);
  width: 250px;
  height: fit-content;
}

.skills {
  background-color: rgba(95, 18, 97, 0.49);
  width: 250px;
  height: fit-content;
}

