
.title {
  color: grey;
  font-size: 18px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: blue;
  background-color:rgba(106,255,123,0.33);
  text-align: center;
  cursor: pointer;
  font-family: Arial;
  width: 100%;
  font-size: 20px;
  text-decoration-color: blue;
}

.button:hover, .a:hover {
  opacity: 0.7;
}


.cd {
  margin-top: 150px;
  background-color: blanchedalmond;
  height: fit-content;
  padding: 10px;
}
ul{
  list-style-type: none;
}
